body{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
  padding:0px;
  height:100%;
  margin:auto;
  background-image: url(img/header.png);
}

img {
max-width: 100%;
height: auto;
}

section p{
  margin:auto;
  text-align: center;
  color:#000000;
}

h2{
  text-align: center;
}

header #head{
    background-position: center top;
    background-repeat: no-repeat;
}


/*projects*/

#projects section{
  height:300px;
  margin: auto;
  margin-top: auto;
  margin-bottom: 35px;
  width: 80%;
  border-radius: 20px;
  box-shadow:2px 2px 2px 2px grey;
  position: relative;
}

/*proj1*/
#projects #proj1{
  background-image: url(project_1/img/zoetrope_picture_1.png);
  background-position: center;
}

#projects p a{
  color:#ffffff;
  margin: auto;
  margin-top: auto;
}

#proj1 p{
  width: 100%;
  line-height: 50px;
  background-color: #000000;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top:250px;
}

/*proj2*/

#projects #proj2{
  background-image: url(project_2/img/final_2.png);
  background-position: center;
}

#projects p a{
  color:#ffffff;
  margin: auto;
  margin-top: auto;
}

#proj2 p{
  width: 100%;
  line-height: 50px;
  background-color: #000000;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top:250px;
}

/*proj3*/

#projects #proj3{
  background-image: url(project_3/img/final.png);
  background-position: center;
}

#projects p a{
  color:#ffffff;
  margin: auto;
  margin-top: auto;
}

#proj3 p{
  width: 100%;
  line-height: 50px;
  background-color: #000000;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top:250px;
}

/*proj4*/

#projects #proj4{
  background-image: url(project_4/img/final.png);
  background-position: center;
}

#projects p a{
  color:#ffffff;
  margin: auto;
  margin-top: auto;
}

#proj4 p{
  width: 100%;
  line-height: 50px;
  background-color: #000000;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top:250px;
}

/*proj5*/

#projects #proj5{
  background-image: url(images/proj5.png);
  background-position: center;
}

#projects p a{
  color:#ffffff;
  margin: auto;
  margin-top: auto;
}

#proj5 p{
  width: 100%;
  line-height: 50px;
  background-color: #000000;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top:250px;
}

/*visited link*/
a:visited{
  color: #6ba3ff;
}

/*mouse over link*/
a:hover{
  color: #003F46;
}

/*selective link*/
a:active{
  color: #0000FF;
}

/*footer*/

footer {
  margin: 0px auto;
  line-height: 60px;
  text-align: center;
}

footer a{
    color: #ffffff;
}
